h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-family: monospace;
  font-size: 1em;
  margin: 1em;
  margin-right: 1em;
  text-align: right;
  color: #ffffff;

}

h3 {
  font-family: cursive;
  font-size: 2em;
  margin: 0.67em 0;
  text-align: left;

}

p {
  font-family: monospace;
  font-size: 1em;
  margin: 0.67em 0;
  text-align: left;

}
