h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-family: monospace;
  font-size: 1em;
  margin: 1em;
  margin-right: 1em;
  text-align: right;
  color: #ffffff;

}

h3 {
  font-family: cursive;
  font-size: 2em;
  margin: 0.67em 0;
  text-align: left;

}

h4 {
  font-family: monospace;
  font-size: 15em;
  text-align: center;
  color: #ffffff;

}

p {
  font-family: monospace;
  font-size: 1em;
  margin: 0.67em 0;
  text-align: left;

}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cap {
  min-height: 100%
}

#imgHover:hover { margin-top: -15px; }

img.rotate {
  border-radius: 100%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}
img.rotate:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(-180deg);
}

.foo img:last-child{display:none}
.foo:hover img:first-child{display:none}
.foo:hover img:last-child{display:inline-block}

.hoverable {
      cursor:default;
      color:#000;
      text-decoration:none;
    }
    .hoverable .hover {
      display:none;
    }
    .hoverable:hover .normal {
      display:none;
    }
    .hoverable:hover .hover {
      display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
    }

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
     background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 0.1s opacity;
    }

@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
.wiggle-me:hover{-ms-animation:wiggle .1s 2;-moz-animation:wiggle .1s 2;-webkit-animation:wiggle .1s 2;animation:wiggle .4s 2;}


@-ms-keyframes wiggle{0%{-ms-transform:rotate(6deg);}50%{-ms-transform:rotate(-6deg);}100%{-ms-transform:rotate(6deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(6deg);}50%{-moz-transform:rotate(-6deg);}100%{-moz-transform:rotate(6deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(6deg);}50%{-webkit-transform:rotate(-6deg);}100%{-webkit-transform:rotate(6deg);}}
@keyframes wiggle{0%{transform:rotate(6deg);}50%{transform:rotate(-6deg);}100%{transform:rotate(3deg);}}
.wiggle-me-more:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .1s 3;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 3;}



@keyframes beat
{
  0%
  {
    transform: scale( 1 );
  }
  33%
  {
    transform: scale( 1.1 );
  }

  33%
  {
    transform: scale( .9 );
  }

  100%
  {
    transform: scale( 1 );
  }
}

div.beat {
  animation: beat .5s infinite;
}


.fullcontainer {
  height: 100vh;

}
