h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-family: monospace;
  font-size: 1em;
  margin: 1em;
  margin-right: 1em;
  text-align: right;
  color: #ffffff;

}

h3 {
  font-family: cursive;
  font-size: 2em;
  margin: 0.67em 0;
  text-align: left;

}

p {
  font-family: monospace;
  font-size: 1em;
  margin: 0.67em 0;
  text-align: left;

}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

img.rotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}
img.rotate:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(-180deg);
}
